<a href="https://colab.research.google.com/github/maah-gabs/curso_licoes/blob/master/PythonIniciantes_youtube.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Canal Sigmoidal Youtube

Você pode ter esse e mais conteúdos no canal do *youtube* do professor Carlos Melo, o Sigmoidal [clicando aqui.](https://https://www.youtube.com/channel/UCxaCu5ht7d3jvisTpiW6vxw)

## Python para Iniciantes do Zero. 

Neste notebook, trarei as principais discussões disponiveis na aula dada pelo professor Carlos Melo que está disponível [neste endereço](https://https://www.youtube.com/watch?v=pGtESkyGv4U) do *youtube*. 

Essa aula em específico é voltada para aqueles que nunca programaram ou nunca tiveram contato com a linguagem de programação Python na vida.

## Porque Python?

O python é uma das linguagens que estão em maior ascenção no mundo. Com a programação de Python é possível realizar diversas funções, sendo assim, a programação mais usada em diversas áreas, principalmente em *Data Science.*

Pontos positivos para o aprendizado de Python é:

* Curva de Aprendizado;
* Demanda do Mercado;
* Comunidade Crescente;
* Salários em alta;
* Biblioteca.

Nesta aula, o ambiente utilizado para programação é o ***google colab.*** Para executar as linhas do Python, você necessita apenas utilizar um SHIFT + ENTER.
Abaixo,será demonstrado algumas funções básicas do Python, como adição, subtração, divisão, multiplicação, exponenciação e etc ...

## Operadores Aritméticos. 

No python, como citado acima, você pode realizar inumeras operações, seguindo os seguintes operadores artiméticos. 

* Adição ( + );
* Subtração ( - );
* Multiplicação ( * );
* Divisão ( / ): 
* Exponenciação ( ** );
* Divisão ( // ) - Obter resultado inteiro;

In [ ]:
# Adição
5 + 2

7

In [ ]:
# Subtração
29 - 10

19

In [ ]:
# Multiplicação
5 * 4

20

In [ ]:
# Divisãp 
10/2

5.0

In [ ]:
# Exponenciação
5**2

25

In [ ]:
# Divisão (Resultado Inteiro)
43//9

4

In [ ]:
# Operações mais complexas. 
(5 + 6) - (1 / (8**2))

10.984375

## Ordem de Precedencia. 

Ao montar operações mais complexas no Python, é importante sabermos que assim na matemática, o python funciona em ordem de procedencia. Abaixo, colocarei um resuminho de quais funções são feitas primeiro. 

1.   Parenteses; 
2.   Expoentes; 
3.   Multiplicações e divisões (esquerda para direita; 
4.   Somas e Subtrações (esquerda para direita);

## Exemplo 01 

Calcule a média simples de 3 notas de provas de Matemática. 

* Nota 01: 8.5
* Nota 02: 9.5
* Nota 03: 7.5

In [ ]:
(8.5 + 9.5 + 7.5) / 3

8.5

## Variáveis no Python

Usaremos diversas, discutiremos abaixo algumas das principais variáveis. 

## Inteiros e Floats. 

Essas sem duvidas, são as que mais utilizamos. Inteiros são os numeros 2, 30, 35 esses números são denominados `int`. Já os `floats` são números que carregam uma parte fracional como 5.5, 10.2. 

Para saber qual o tipo de variável que você está usando, você pode fazer uso da função `type( )`.

In [ ]:
type(5)

int

In [ ]:
type(5.0000)

float

In [ ]:
abc = 44.44
print(type(abc))

<class 'float'>

Desta forma, continuando a discussão sobre variáveis é possivel declarar variáveis e dar a ela valores, como no exemplo demonstrado abaixo.

In [ ]:
area_do_terreno = 57 * 10
print(area_do_terreno)

570

Saber o tipo das variáveis e extremamente importante, pois, ao programar e desenvolver programas mais complexos será necessário ter esse conhecimento e em alguns momentos ate realizar transformações para criar dados compatíveis. Uma informação importante é a de que o resultado de uma divisão sempre será `float`.

In [ ]:
print(type(2 / 2))
print(type(10.0 / 2))
print(type(10.0 / 2.0))

<class 'float'>
<class 'float'>
<class 'float'>

Como comentado acima, o resultado das visões acima retornatam TODAS em `float.`Quando for necessário a inversão do `float` para `inteiro` usamos a seguinte função `int ()`. O mesmo ocorre quando a vontade for fazer a inversão o contrário.

In [ ]:
idade = 27.00
type(idade)

float

In [ ]:
# Converter 
idade = int(idade)
type(idade)

int

In [ ]:
int(3.14585)

3

**OBS:** Importante perceber que ao transformar um numero `float` em `int` o pythin retorna apenas os numéros que estão antes do ponto, certo? Ou seja, isso quer dizer que o python, ao utilizar essa função **NÃO** retornará o valor arredondado.

In [ ]:
#O contrário também acontece 
float(3)

3.0

Como comentamos acima, existe a possibilidade de se reailzar uma divisão em que ficamos apenas com a parte inteira do número, descartando assim, toda a parte fracionada. Utilizando o `//`.

In [ ]:
print(11 / 3)
print(11 // 3)

3.6666666666666665
3

## String

Variável não numérica. Porém, tambem são considerados str qualquer informação de uma variável que esteja entre aspas `( ' ' )` ou `( " " )`.

In [ ]:
type("Maria Gabriela")

str

In [ ]:
type('4.444')

str

In [ ]:
nome = "Maria Gabriela"
sobrenome = "Furlaneto Barros"
profissao = "Enfermeira"

In [ ]:
print("Nome Completo:" )
print(nome, sobrenome)

Nome Completo:
Maria Gabriela Furlaneto Barros

In [ ]:
print("Minha profissão é:")
print(profissao)

Minha profissão é:
Enfermeira

Manipulado `strings` é possível você acessar caracteres em específico de uma string, lembre - se que sempre começamos pelo 0, ou seja, **o exemplo Maria Gabriela a letra M está na posição 0.**

OBS: **DICA IMPORTANTE** se você tem uma `string` muito grande e você quer acessar o último caractere, é só usar a posição `(-1)`.

In [ ]:
print(nome[0])
print(nome[1])
print(nome[2])
print(nome[3])
print(nome[4])

M
a
r
i
a

In [ ]:
print(nome[-1])
print(nome[-2])
print(nome[-3])
print(nome[-4])
print(nome[-5])
print(nome[-6])
print(nome[-7])
print(nome[-8])

a
l
e
i
r
b
a
G

In [ ]:
# Quero ver as duas primeiras variáveis
print(nome[0:2])
print(nome[2:5])
print(nome[0:2] + nome[2:5])

Ma
ria
Maria

## Função `len`

Para saber o tamanho de uma `string`, podemos utilizar uma função denominada   `len ()`. Para utiliza - lá é muito simples.

In [ ]:
dna = 'ABCFJEGSJYG'
print("Tamanho da String", len(dna))

Tamanho da String 11

## Função `split`

Essa função serve para separar as `strings` se baseando em um delimitador. Por exemplo, quando uma variável apresenta 3 nomes separados por vírgulas. Para eu realizar uma extração desses nomes, basta executar a função `.split()` que o Python retornará uma lista com 3 itens. Vamos ver um exemplo?

In [ ]:
nomes = "Maria Gabriela, Samuel, Vitória"
print(nomes)

Maria Gabriela, Samuel, Vitória

In [ ]:
nomes.split(',')

['Maria Gabriela', ' Samuel', ' Vitória']

Perceba acima, que no caso, o delimitador é (' , ') a vírgula, certo? e ao executar a linha do código ele retornou uma lista com os nomes individuais. 

No exmplo abaixo, como o função `.split( )` transformou os tres nomes em uma lista, abaixo mostramos um exemplo de como os itens dessa lista podem ser acessados. Lembrando que a indexação do python SEMPRE inicia no zero.

In [ ]:
list_de_nomes = nomes.split(',')
print(list_de_nomes[0])
print(list_de_nomes[1])
print(list_de_nomes[2])

Maria Gabriela
 Samuel
 Vitória

## Função `replace ( ) `.

Essa função é utilizada para substituir caracteres que estão dentro de uma `string`. 

Para imaginar um dos usos em que essa função pode se encaixar, imagine você mexendo com dados que estão no sistema monetário brasileiro que utiliza ( , ) ao invés do ponto ( . ) como aprendemos que o python reconhece. Vamos precisar substituir, não é mesmo?

In [ ]:
# Variável criada como str porém com vírgula. 
preco = "9,50"
preco2 = "10,90"

In [ ]:
"9,50".replace(",", ".")

'9.50'

In [ ]:
preco2.replace(",", ".")

'10.90'

## Função `Strip ( )`. 

Esta função é capaz de remover os espaços me branco. Para realizar conversões númericas, ao analisar o banco de dados e perceber que, principalmente, em informações com número existem espaços que devem ser excluidos para que trabalhos mais especificos sejam realizados. 
Esses espaços em branco podem estar presentes no começo e no final de uma string. Para remover esses caracteres indesejados, vamos usar a função `split( )`.

In [1]:
nome = "    Maria Gabriela   "
nome.strip( )

'Maria Gabriela'

No exemplo abaixo, também utilizaremos a função `replace ( ) ` que já foi discutida acima, nele nós usaremos o dado R$ 9,50 que é um dado inconversível, certo? para tornar um float, nele utilizaremos o `strip ( )` e o `replace ( )` e depois converteremos para `float.`

In [4]:
float("R$ 9,50".strip('R$ ').replace(',', '.'))

9.5